* {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
