@import '~node_modules/modern-normalize/modern-normalize.css';
* {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-size: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

:root {
  --color-primary: #000;
  --color-accent: #d41443;
  --color-light: #fff;
  --color-other: #e18298;
  --color-accent-bg: #ffb8ca;
  --color-menu-bg: #e17992;
  --color-accent-btn-bg: #d41443;
  --color-light-btn-bg: #fff;
  --color-hover-btn-bg: #ecebeb;
  --font-family: "DM sans", sans-serif;
  --font-size: 16px;
  --letter-spacing: 0.04em;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
  height: 44px;
  padding: 0 37px;
  background-color: var(--color-light-btn-bg);
  border-radius: 22px;
  color: var(--color-accent);
  font-weight: 700;
  line-height: 1.31;
  transition: background-color var(--anim);
}
.button__icon {
  fill: var(--color-accent);
}
.button:hover, .button:focus {
  background-color: var(--color-hover-btn-bg);
}

.button--accent {
  background-color: var(--color-accent-btn-bg);
  color: var(--color-light);
}
.button--accent:hover, .button--accent:focus {
  background-color: rgba(212, 20, 68, 0.78);
}

.button__icon--accent {
  fill: var(--color-light);
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: var(--color-menu-bg);
  padding: 60px 20px 0;
  transition: var(--anim);
}
.mob-menu__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.mob-menu__btn {
  margin: 0 auto 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .mob-menu__btn {
    width: 185px;
  }
}
.mob-menu__item {
  margin: 0 -20px;
  border-top: 1px solid var(--color-other);
}
.mob-menu__item:last-child {
  border-bottom: 1px solid var(--color-other);
}
.mob-menu__link {
  display: block;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--color-light);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--color-accent);
}
.mob-menu__link--active {
  color: var(--color-accent);
}

.mob-menu.is-hidden {
  right: -100%;
}

.menu__list {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.menu__link {
  display: block;
  padding: 14px 0;
  color: var(--color-light);
  font-weight: 700;
  line-height: 1.31;
  transition: color var(--anim);
}
.menu__link:hover, .menu__link:focus {
  color: var(--color-accent);
}
.menu__link--active {
  color: var(--color-accent);
}

.header {
  background-color: var(--color-accent-bg);
}
.header__top {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .header__top {
    padding: 30px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__top {
    justify-content: space-between;
    padding: 35px 0 20px;
  }
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__mobile-menu {
    display: none;
  }
}
.header__desktop-menu {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header__desktop-menu {
    display: block;
  }
}
.header__icon-menu {
  width: 20px;
  height: 13px;
}
@media screen and (min-width: 768px) {
  .header__icon-menu {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon-menu {
    display: none;
  }
}
.header__btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: flex;
  }
}
.review {
  background-color: var(--color-light);
  outline: tomato;
}/*# sourceMappingURL=index.css.map */