:root {
  //   Colors
  --color-primary: #000;
  --color-accent: #d41443;
  --color-light: #fff;
  --color-other: #e18298;
  --color-yellow: #f0d1a5;
  --color-green: #c2e297;
  --color-linear: #e1e1e1;
  --color-over-line: #ffa5ba;
  --color-description: #907e82;

  --color-light-bg: #fff;
  --color-circle-bg: #ffa5ba;
  --color-accent-bg: #ffb8ca;
  --color-menu-bg: #e17992;
  --color-review-bg: #fafafa;
  --color-review-bg-tab: #fdfdfd;
  --color-bg-section: #fff5f6;

  --color-accent-btn-bg: #d41443;
  --color-light-btn-bg: #fff;
  --color-accent-hover-btn-bg: #c7133e;
  --color-hover-btn-bg: #ecebeb;

  // Fonts
  --font-family: 'DM sans', sans-serif;
  --font-family-secondary: 'Titan One';
  --font-size: 16px;
  --letter-spacing: 0.04em;

  //   Animation
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --anim-slow: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
