<section class="about section" id="about">
  <div class="container about__container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title title">how it’s made?</h2>
    <div class="about__thumb">
      <div class="about__img-wrapper">
        <img
          class="about__img"
          srcset="
            ./images/about/cowandmilk@2x.png 2x,
            ./images/about/cowandmilk@3x.png 3x
          "
          width="501"
          loading="lazy"
          alt="cowandmilk"
          src="./images/about/cowandmilk1.png"
        />
      </div>
      <div class="about__info">
        <div class="about__inner">
          <p class="about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.
          </p>
          <p class="about__text--grey">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
          <p class="about__text--grey about__text--lower">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="button js-open-modal" data-modal="2" type="button">
            Read more
            <svg class="button__icon">
              <use href="./images/icons.svg#arrow"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
