<section class="advantages" id="advantages">
	<h2 class="visually-hidden">Advantages</h2>
	<div class="container">
		<ul class="advantages__list">
			<li class="advantages__item">
				<!-- <img srcset="./images/advantages-icon/adv-bucket-milk@2x.png" src="./images/advantages-icon/adv-bucket-milk.png" alt="adv-bucket-milk" width="50" height="50" class="advantages__item-img"> -->
				<h3 class="advantages__title first-png">721</h3>
				<p class="advantages__text">
					Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
				</p>
			</li>

			<li class="advantages__item">
				<!-- <img srcset="./images/advantages-icon/adv-bucket-apples@2x.png"  src="./images/advantages-icon/adv-bucket-apples.png" alt="adv-bucket-apples"  width="50" height="50" class="advantages__item-img"> -->
				<h3 class="advantages__title second-png">16kg</h3>
				<p class="advantages__text">
					Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
				</p>
			</li>

			<li class="advantages__item">
				<!-- <img  srcset="./images/advantages-icon/adv-heart@2x.png"  src="./images/advantages-icon/adv-heart.png" alt="heart"  width="45" height="50" class="advantages__item-img"> -->
				<h3 class="advantages__title third-png">84</h3>
				<p class="advantages__text">
					Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
				</p>
			</li>
		</ul>
	</div>
</section>