<section id="contacts" class="section contacts__section">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__tumb">
          <b class="contacts__category">Cafe</b>
          <h3 class="contacts__title">Chicago</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__timetable">
          <li class="contacts__time">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__day-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__time">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__day-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list-communication">
          <li class="contacts__item-communication">
            <a class="contacts__phone-number" href="tel:+610383766284">
              +61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item-communication">
            <a class="contacts__mail" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__tumb">
          <b class="contacts__category contacts__category--bgcolor">
            Food truck
          </b>
          <h3 class="contacts__title">Los Angeles</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__timetable">
          <li class="contacts__time">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__day-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__time">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__day-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__list-communication">
          <li class="contacts__item-communication">
            <a class="contacts__phone-number" href="tel:+610383766284">
              <span class="shift">+61(0) 383 766 284</span></a
            >
          </li>
          <li class="contacts__item-communication">
            <a class="contacts__mail" href="mailto:noreply@envato.com">
              <span class="shift">noreply@envato.com</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <div class="contacts__tumb">
          <b class="contacts__category">Cafe</b>
          <h3 class="contacts__title">New York</h3>
          <p class="contacts__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__timetable">
          <li class="contacts__time">
            <p class="contacts__day">Monday - Friday</p>
            <p class="contacts__day-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__time">
            <p class="contacts__day">Saturday - Sunday</p>
            <p class="contacts__day-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__list-communication">
          <li class="contacts__item-communication">
            <a class="contacts__phone-number" href="tel:+610383766284">
              <span class="shift">+61(0) 383 766 284</span></a
            >
          </li>
          <li class="contacts__item-communication">
            <a class="contacts__mail" href="mailto:noreply@envato.com">
              <span class="shift">noreply@envato.com</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <ul class="contacts__btn-set">
      <li class="contacts__btn-item">
        <button
          class="contacts__btn button button--accent js-open-modal"
          data-modal="map"
        >
          Our Locations
          <svg class="button__icon button__icon--accent" width="4" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__btn-item">
        <button
          class="contacts__btn contacts__btn--resize button js-open-modal"
          data-modal="3"
        >
          Franchise
          <svg class="button__icon" width="4" height="8">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
