<section class="review">
  <div class="container">
    <h2 class="visually-hidden">Customer Review</h2>
    <div class="single-item">
      <div class="review__inner">
        <picture>
          <source
            srcset="
              ./images/review/review-emily-85.webp     1x,
              ./images/review/review-emily-170@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/review/review-emily-85.jpg     1x,
              ./images/review/review-emily-170@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="review__image"
            src="./images/review/review-emily-85.jpg"
            loading="lazy"
            alt="Photo Emily from Los Angeles"
          />
        </picture>
        <div class="review__content">
          <div class="review__wrapper">
            <p class="review__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
              Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
              ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <p class="review__name">Emily, Los Angeles</p>
      </div>
      <div class="review__inner">
        <picture>
          <source
            srcset="
              ./images/review/review-mia-85.webp     1x,
              ./images/review/review-mia-170@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/review/review-mia-85.jpg     1x,
              ./images/review/review-mia-170@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            class="review__image"
            src="./images/review/review-mia-85.jpg"
            loading="lazy"
            alt="Photo Mia from Colorado"
          />
        </picture>
        <div class="review__content">
          <div class="review__wrapper">
            <p class="review__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi ab
              reiciendis fugit obcaecati accusantium deserunt.
            </p>
          </div>
        </div>
        <p class="review__name">Mia, Colorado</p>
      </div>
      <div class="review__inner">
        <picture>
          <source
            srcset="
              ./images/review/review-olivia-85.webp     1x,
              ./images/review/review-olivia-170@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/review/review-olivia-85.jpg     1x,
              ./images/review/review-olivia-170@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="review__image"
            src="./images/review/review-olivia-85.jpg"
            loading="lazy"
            alt="Photo Olivia from Anaheim"
          />
        </picture>
        <div class="review__content">
          <div class="review__wrapper">
            <p class="review__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
              voluptates culpa eos, modi voluptatem tenetur illo ipsa, sequi
              maxime id quis dolorem, repellendus eveniet ab sit corporis
              reiciendis.
            </p>
          </div>
        </div>
        <p class="review__name">Olivia, Anaheim</p>
      </div>
    </div>
  </div>
</section>
