<section class="gallery" id="gallery">
  <div class="container gallery__container">
    <h2 class="title-section visually-hidden">Gallery</h2>
    <div class="grid">
      <div class="grid-item"></div>
      <div class="grid-item grid-item--height2"></div>
      <!-- 4 -->
      <div class="grid-item grid-item--width2">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic4.webp    1x,
              ./images/gallery/desk/pic4@2x.webp 2x,
              ./images/gallery/desk/pic4@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic4.webp    1x,
              ./images/gallery/tab/pic4@2x.webp 2x,
              ./images/gallery/tab/pic4@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic4.webp    1x,
              ./images/gallery/mob/pic4@2x.webp 2x,
              ./images/gallery/mob/pic4@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic4.jpg    1x,
              ./images/gallery/desk/pic4@2x.jpg 2x,
              ./images/gallery/desk/pic4@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic4.jpg    1x,
              ./images/gallery/tab/pic4@2x.jpg 2x,
              ./images/gallery/tab/pic4@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic4.jpg    1x,
              ./images/gallery/mob/pic4@2x.jpg 2x,
              ./images/gallery/mob/pic4@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic4.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>
      <div class="grid-item grid-item--height3"></div>
      <div class="grid-item grid-item--height4"></div>
      <div class="grid-item grid-item--height5"></div>

      <!-- 8 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic8.webp    1x,
              ./images/gallery/desk/pic8@2x.webp 2x,
              ./images/gallery/desk/pic8@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic8.webp    1x,
              ./images/gallery/tab/pic8@2x.webp 2x,
              ./images/gallery/tab/pic8@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic8.webp    1x,
              ./images/gallery/mob/pic8@2x.webp 2x,
              ./images/gallery/mob/pic8@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />

          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic8.jpg    1x,
              ./images/gallery/desk/pic8@2x.jpg 2x,
              ./images/gallery/desk/pic8@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic8.jpg    1x,
              ./images/gallery/tab/pic8@2x.jpg 2x,
              ./images/gallery/tab/pic8@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic8.jpg    1x,
              ./images/gallery/mob/pic8@2x.jpg 2x,
              ./images/gallery/mob/pic8@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic8.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 2 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic2.webp    1x,
              ./images/gallery/desk/pic2@2x.webp 2x,
              ./images/gallery/desk/pic2@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic2.webp    1x,
              ./images/gallery/tab/pic2@2x.webp 2x,
              ./images/gallery/tab/pic2@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic2.webp    1x,
              ./images/gallery/mob/pic2@2x.webp 2x,
              ./images/gallery/mob/pic2@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic2.jpg    1x,
              ./images/gallery/desk/pic2@2x.jpg 2x,
              ./images/gallery/desk/pic2@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic2.jpg    1x,
              ./images/gallery/tab/pic2@2x.jpg 2x,
              ./images/gallery/tab/pic2@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic2.jpg    1x,
              ./images/gallery/mob/pic2@2x.jpg 2x,
              ./images/gallery/mob/pic2@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic2.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 6 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic6.webp    1x,
              ./images/gallery/desk/pic6@2x.webp 2x,
              ./images/gallery/desk/pic6@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic6.webp    1x,
              ./images/gallery/tab/pic6@2x.webp 2x,
              ./images/gallery/tab/pic6@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic6.webp    1x,
              ./images/gallery/mob/pic6@2x.webp 2x,
              ./images/gallery/mob/pic6@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic6.jpg    1x,
              ./images/gallery/desk/pic6@2x.jpg 2x,
              ./images/gallery/desk/pic6@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic6.jpg    1x,
              ./images/gallery/tab/pic6@2x.jpg 2x,
              ./images/gallery/tab/pic6@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic6.jpg    1x,
              ./images/gallery/mob/pic6@2x.jpg 2x,
              ./images/gallery/mob/pic6@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic6.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 1 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic1.webp    1x,
              ./images/gallery/desk/pic1@2x.webp 2x,
              ./images/gallery/desk/pic1@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic1.webp    1x,
              ./images/gallery/tab/pic1@2x.webp 2x,
              ./images/gallery/tab/pic1@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic1.webp    1x,
              ./images/gallery/mob/pic1@2x.webp 2x,
              ./images/gallery/mob/pic1@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic1.jpg    1x,
              ./images/gallery/desk/pic1@2x.jpg 2x,
              ./images/gallery/desk/pic1@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic1.jpg    1x,
              ./images/gallery/tab/pic1@2x.jpg 2x,
              ./images/gallery/tab/pic1@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic1.jpg    1x,
              ./images/gallery/mob/pic1@2x.jpg 2x,
              ./images/gallery/mob/pic1@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic1.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 10 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic10.webp    1x,
              ./images/gallery/desk/pic10@2x.webp 2x,
              ./images/gallery/desk/pic10@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic10.webp    1x,
              ./images/gallery/tab/pic10@2x.webp 2x,
              ./images/gallery/tab/pic10@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic10.webp    1x,
              ./images/gallery/mob/pic10@2x.webp 2x,
              ./images/gallery/mob/pic10@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic10.jpg    1x,
              ./images/gallery/desk/pic10@2x.jpg 2x,
              ./images/gallery/desk/pic10@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic10.jpg    1x,
              ./images/gallery/tab/pic10@2x.jpg 2x,
              ./images/gallery/tab/pic10@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic10.jpg    1x,
              ./images/gallery/mob/pic10@2x.jpg 2x,
              ./images/gallery/mob/pic10@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic10.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 9 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic9.webp    1x,
              ./images/gallery/desk/pic9@2x.webp 2x,
              ./images/gallery/desk/pic9@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic9.webp    1x,
              ./images/gallery/tab/pic9@2x.webp 2x,
              ./images/gallery/tab/pic9@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic9.webp    1x,
              ./images/gallery/mob/pic9@2x.webp 2x,
              ./images/gallery/mob/pic9@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic9.jpg    1x,
              ./images/gallery/desk/pic9@2x.jpg 2x,
              ./images/gallery/desk/pic9@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic9.jpg    1x,
              ./images/gallery/tab/pic9@2x.jpg 2x,
              ./images/gallery/tab/pic9@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic9.jpg    1x,
              ./images/gallery/mob/pic9@2x.jpg 2x,
              ./images/gallery/mob/pic9@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic9.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 3 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic3.webp    1x,
              ./images/gallery/desk/pic3@2x.webp 2x,
              ./images/gallery/desk/pic3@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic3.webp    1x,
              ./images/gallery/tab/pic3@2x.webp 2x,
              ./images/gallery/tab/pic3@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic3.webp    1x,
              ./images/gallery/mob/pic3@2x.webp 2x,
              ./images/gallery/mob/pic3@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic3.jpg    1x,
              ./images/gallery/desk/pic3@2x.jpg 2x,
              ./images/gallery/desk/pic3@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic3.jpg    1x,
              ./images/gallery/tab/pic3@2x.jpg 2x,
              ./images/gallery/tab/pic3@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic3.jpg    1x,
              ./images/gallery/mob/pic3@2x.jpg 2x,
              ./images/gallery/mob/pic3@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic3.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>

      <!-- 7 -->
      <div class="grid-item">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic7.webp    1x,
              ./images/gallery/desk/pic7@2x.webp 2x,
              ./images/gallery/desk/pic7@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic7.webp    1x,
              ./images/gallery/tab/pic7@2x.webp 2x,
              ./images/gallery/tab/pic7@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic7.webp    1x,
              ./images/gallery/mob/pic7@2x.webp 2x,
              ./images/gallery/mob/pic7@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic7.jpg    1x,
              ./images/gallery/desk/pic7@2x.jpg 2x,
              ./images/gallery/desk/pic7@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic7.jpg    1x,
              ./images/gallery/tab/pic7@2x.jpg 2x,
              ./images/gallery/tab/pic7@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic7.jpg    1x,
              ./images/gallery/mob/pic7@2x.jpg 2x,
              ./images/gallery/mob/pic7@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic7.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>
      <div class="grid-item grid-item--height2"></div>

      <!-- 5 -->
      <div class="grid-item grid-item--marg">
        <picture>
          <!-- webp -->
          <source
            srcset="
              ./images/gallery/desk/pic5.webp    1x,
              ./images/gallery/desk/pic5@2x.webp 2x,
              ./images/gallery/desk/pic5@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic5.webp    1x,
              ./images/gallery/tab/pic5@2x.webp 2x,
              ./images/gallery/tab/pic5@3x.webp 3x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic5.webp    1x,
              ./images/gallery/mob/pic5@2x.webp 2x,
              ./images/gallery/mob/pic5@3x.webp 3x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <!-- jpeg -->
          <source
            srcset="
              ./images/gallery/desk/pic5.jpg    1x,
              ./images/gallery/desk/pic5@2x.jpg 2x,
              ./images/gallery/desk/pic5@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/tab/pic5.jpg    1x,
              ./images/gallery/tab/pic5@2x.jpg 2x,
              ./images/gallery/tab/pic5@3x.jpg 3x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/mob/pic5.jpg    1x,
              ./images/gallery/mob/pic5@2x.jpg 2x,
              ./images/gallery/mob/pic5@3x.jpg 3x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            class="gallery__img"
            src="./images/gallery/mob/pic5.jpg"
            loading="lazy"
            alt="picture"
          />
        </picture>
      </div>
      <div class="grid-sizer"></div>
    </div>
  </div>
</section>
