<section class="gallery" id="gallery">
  <div class="container gallery__container">
    <h2 class="title visually-hidden">Gallery</h2>

    <div class="grid">
      <div class="grid-sizer"></div>
      <div class="grid-item"></div>
      <div class="grid-item grid-item--height2"></div>

      <!-- 4 -->
      <div class="grid-item grid-item--width2">
        <img src="./images/gallery/mob/pic4.png" alt="" />
      </div>
      <div class="grid-item grid-item--height3"></div>
      <div class="grid-item grid-item--height4"></div>
      <div class="grid-item grid-item--height5"></div>

      <!-- 8 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic8.png" alt="" />
      </div>

      <!-- 2 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic2.png" alt="" />
      </div>

      <!-- 6 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic6.png" alt="" />
      </div>

      <!-- 1 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic1.png" alt="" />
      </div>

      <!-- 10 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic10.png" alt="" />
      </div>

      <!-- 9 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic9.png" alt="" />
      </div>

      <!-- 3 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic3.png" alt="" />
      </div>

      <!-- 7 -->
      <div class="grid-item">
        <img src="./images/gallery/mob/pic7.png" alt="" />
      </div>
      <div class="grid-item grid-item--height2"></div>

      <!-- 5 -->
      <div class="grid-item grid-item--marg">
        <img src="./images/gallery/mob/pic5.png" alt="" />
      </div>
    </div>
  </div>
</section>
