<header id="header" class="header">
	<div class="header__container container">
		<div class="header__top">
			<a href="#" class="header__logo" aria-label="Ice cream shop logo">
				<svg class="logo__icon" width="200" height="50">
					<use href="./images/icons.svg#logo"></use>
				</svg>
			</a>
			<nav data-mobile-menu class="header__mobile-menu mob-menu is-hidden">
				<button data-mobile-menu-close type="button" class="mob-menu__close">
					<svg class="mob-menu__close-icon" width="16" height="16">
						<use href="./images/icons.svg#close"></use>
					</svg>
				</button>
				<button class="mob-menu__btn button js-open-modal" data-modal="1">
					Buy now
					<svg class="button__icon" width="4" height="8">
						<use href="./images/icons.svg#arrow"></use>
					</svg>
				</button>
				<ul class="mob-menu__list">
					<li class="mob-menu__item">
						<a href="#header" class="mob-menu__link">Home</a>
					</li>
					<li class="mob-menu__item">
						<a href="#advantages" class="mob-menu__link">About us</a>
					</li>
					<li class="mob-menu__item">
						<a href="#about" class="mob-menu__link">How it’s made?</a>
					</li>
					<li class="mob-menu__item">
						<a href="#products" class="mob-menu__link">Our products</a>
					</li>
					<li class="mob-menu__item">
						<a href="#contacts" class="mob-menu__link">Contact</a>
					</li>
				</ul>
			</nav>
			<nav class="header__desktop-menu menu">
				<ul class="menu__list">
					<li class="menu__item">
						<a href="#header" class="menu__link">Home</a>
					</li>
					<li class="menu__item">
						<a href="#advantages" class="menu__link">About us</a>
					</li>
					<li class="menu__item">
						<a href="#about" class="menu__link">How it’s made?</a>
					</li>
					<li class="menu__item">
						<a href="#products" class="menu__link">Our products</a>
					</li>
					<li class="menu__item">
						<a href="#contacts" class="menu__link">Contact</a>
					</li>
				</ul>
			</nav>
			<button data-mobile-menu-open data-hidden-burger type="button" class="header__icon-menu">
				<svg class="header__menu-icon" width="22" height="14">
					<use href="./images/icons.svg#burger"></use>
				</svg>
			</button>
			<button data-hidden-button
				class="button header__btn animate__animated animate__rubberBand animate__delay-2s js-open-modal"
				data-modal="1">
				Buy now
				<svg class="button__icon" width="6" height="10">
					<use href="./images/icons.svg#arrow"></use>
				</svg>
			</button>
		</div>
		<include src="./partials/hero.html"></include>
	</div>
</header>