<div class="header__hero hero">
	<div class="hero__info info-hero">
		<h1 class="info-hero__title">
			ice cream made with <span class="info-hero__title--accent">passion</span>
		</h1>
		<ul class="info-hero__list">
			<li class="info-hero__item">
				<a href="#products" class="info-hero__btn button button--accent">
					Products
				</a>
			</li>
			<li class="info-hero__item">
				<a href="#about" class="info-hero__btn info-hero__btn-other button">
					How it’s made?
				</a>
			</li>
		</ul>
		<div class="info-hero__milk">
			<picture>
				<source srcset="
            ./images/header-hero/desk/milk-desk.png    1x,
            ./images/header-hero/desk/milk-desk@2x.png 2x
          " media="(min-width: 1200px)" />
				<img srcset="./images/header-hero/tab/milk-tab@2x.png 2x" src="./images/header-hero/tab/milk-tab.png"
					alt="Carafe with milk" />
			</picture>
			<div class="info-hero__box">
				<p class="info-hero__text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et
				</p>
				<button type="button" class="button-arrow">
					<svg class="button-arrow__icon" width="12" height="12">
						<use href="./images/icons.svg#arrow-link"></use>
					</svg>
				</button>
				<div class="info-hero__secret-box">
					<p class="info-hero__secret-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et
					</p>

					<p class="info-hero__secret-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut labore et
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__icecream">
		<picture>
			<source srcset="
          ./images/header-hero/desk/ice-cream-desk.png    1x,
          ./images/header-hero/desk/ice-cream-desk@2x.png 2x
        " media="(min-width: 1200px)" />
			<source srcset="
          ./images/header-hero/tab/ice-cream-tab.png    1x,
          ./images/header-hero/tab/ice-cream-tab@2x.png 2x
        " media="(min-width: 768px)" />
			<img class="animate__animated animate__wobble" srcset="./images/header-hero/mob/ice-cream-mob@2x.png 2x"
				src="./images/header-hero/mob/ice-cream-mob.png" alt="Ice cream" />
		</picture>
	</div>
	<div class="hero__progress progress-hero">
		<ul class="progress-hero__list">
			<li class="progress-hero__item">
				<span class="progress-hero__quantity">16</span>
				<p class="progress-hero__text">cafes</p>
			</li>
			<li class="progress-hero__item">
				<span class="progress-hero__quantity">23</span>
				<p class="progress-hero__text">food trucks</p>
			</li>
		</ul>
		<picture>
			<source srcset="
          ./images/header-hero/desk/girl-desk.png    1x,
          ./images/header-hero/desk/girl-desk@2x.png 2x
        " media="(min-width: 1200px)" />
			<img class="progress-hero__img animate__animated animate__fadeInRight animate__delay-1s"
				srcset="./images/header-hero/tab/girl-tab@2x.png 2x" src="./images/header-hero/tab/girl-tab.png"
				alt="Girl with ice cream" />
		</picture>
	</div>
</div>