<div class="modal js-modal modal-map" data-modal="map">
  <button class="modal__close js-modal-close" type="button">
    <svg class="modal__close-icon" width="32" height="32">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <h2 class="form__title">you can find us</h2>
  <p class="form__text">here:</p>
  <div class="map-wrapper">
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7065.413297928846!2d-87.6270222256268!3d41.87908363635762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b58ab3c5413%3A0xadd582aa531bb529!2sButler%20Field!5e0!3m2!1suk!2sua!4v1660566968177!5m2!1suk!2sua"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15731.456162297478!2d-118.48338470117444!3d34.01484119007975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4d74d5ea79b%3A0xcd9a111aced18f4d!2sSanta%20Monica%20Pier!5e0!3m2!1suk!2sua!4v1660567040590!5m2!1suk!2sua"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <iframe
      class="map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24169.909516741584!2d-73.98822896515186!3d40.77876639423005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2z0KbQtdC90YLRgNCw0LvRjNC90LjQuSDQv9Cw0YDQug!5e0!3m2!1suk!2sua!4v1660510899961!5m2!1suk!2sua"
      width="400"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
