<div class="modal js-modal modal-map" data-modal="map">
  <button class="modal__close js-modal-close" type="button">
    <svg class="modal__close-icon" width="32" height="32">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <h2 class="form__title">you can find us</h2>
  <p class="form__text">here:</p>
  <div class="map-wrapper">
    <div class="map-inner">
      <p class="map-city">Chicago</p>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23764.64616246968!2d-87.62693412482963!3d41.880365448605616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2b58ab3c5413%3A0xadd582aa531bb529!2sButler%20Field!5e0!3m2!1sen!2sua!4v1660684445954!5m2!1sen!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="map-inner">
      <p class="map-city">Los Angeles</p>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26458.73880701138!2d-118.51254829329653!3d34.00942226114789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2a4d74d5ea79b%3A0xcd9a111aced18f4d!2sSanta%20Monica%20Pier!5e0!3m2!1sen!2sua!4v1660684541662!5m2!1sen!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="map-inner">
      <p class="map-city">New York</p>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20323.57268473077!2d-73.9834933784322!3d40.781438488971624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2sCentral%20Park!5e0!3m2!1sen!2sua!4v1660684600637!5m2!1sen!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
