<div class="modal js-modal" data-modal="1">
  <button class="modal__close js-modal-close" type="button">
    <svg class="modal__close-icon" width="32" height="32">
      <use href="./images/icons.svg#close"></use>
    </svg>
  </button>
  <form class="form">
    <div
      class="form__group"
      role="group"
      aria-labelledby="contact-details-head"
    >
      <h2 class="form__title" id="contact-details-head">
        Fill the form to make an order
      </h2>
      <p class="form__text">and enjoy your icecream!</p>
      <label class="field form__field"
        ><span class="field_label">Name</span
        ><input
          type="text"
          class="field__input"
          name="name"
          placeholder="John Dough"
      /></label>
      <label class="field form__field"
        ><span class="field_label">Phone</span
        ><input
          type="tel"
          class="field__input"
          name="phone"
          placeholder="+61(0) *** *** ***"
      /></label>
      <label class="field form__field"
        ><span class="field_label">Email</span
        ><input
          type="email"
          class="field__input"
          name="email"
          placeholder="example@email.com"
      /></label>
      <div class="checkbox__wrapper">
        <div class="checkbox__inner">
          <label class="checkbox modal__checkbox">
            <input
              class="checkbox__input"
              type="checkbox"
              name="icecream"
              value="terms-check"
            />
            <svg class="checkbox__icon" width="11" height="8">
              <use
                class="checkbox__content"
                href="./images/icons.svg#icecream"
              ></use>
            </svg>
            <span class="checkbox__text">Vanilla</span>
          </label>
          <label class="checkbox modal__checkbox">
            <input
              class="checkbox__input"
              type="checkbox"
              name="icecream"
              value="terms-check"
            />
            <svg class="checkbox__icon" width="11" height="8">
              <use
                class="checkbox__content"
                href="./images/icons.svg#icecream"
              ></use>
            </svg>
            <span class="checkbox__text">Chocolate</span>
          </label>
        </div>
        <div class="checkbox__inner">
          <label class="checkbox modal__checkbox">
            <input
              class="checkbox__input"
              type="checkbox"
              name="icecream"
              value="terms-check"
            />
            <svg class="checkbox__icon" width="11" height="8">
              <use
                class="checkbox__content"
                href="./images/icons.svg#icecream"
              ></use>
            </svg>
            <span class="checkbox__text">Strawberry</span>
          </label>
          <label class="checkbox modal__checkbox">
            <input
              class="checkbox__input"
              type="checkbox"
              name="icecream"
              value="terms-check"
            />
            <svg class="checkbox__icon" width="11" height="8">
              <use
                class="checkbox__content"
                href="./images/icons.svg#milkshake"
              ></use>
            </svg>
            <span class="checkbox__text">Milkshake</span>
          </label>
        </div>
      </div>
      <div class="checkbox__container">
        <label class="checkbox modal__checkbox">
          <input
            class="checkbox__input"
            type="checkbox"
            name="icecream"
            value="terms-check"
          />
          <svg class="checkbox__icon" width="11" height="8">
            <use
              class="checkbox__content"
              href="./images/icons.svg#icecoffee"
            ></use>
          </svg>
          <span class="checkbox__text">Icecoffee</span>
        </label>
      </div>
    </div>
    <button class="button button--accent modal__button" type="submit">
      Place order
    </button>
  </form>
</div>
<div class="overlay js-modal-overlay"></div>
