<section id="products" class="products">
  <div class="container">
    <p class="sub-title-section">100% natural</p>
    <h2 class="products_title title-section">Products</h2>
    <ul class="products_list">
      <li class="products_item icecream-card">
        <picture>
          <source
            srcset="
              ./images/products/cream-desktop.webp    1x,
              ./images/products/cream-desktop@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/cream-tablet.webp    1x,
              ./images/products/cream-tablet@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:768px)"
          />
          <source
            srcset="
              ./images/products/cream-mobile.webp    1x,
              ./images/products/cream-mobile@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:320px)"
          />
          <source
            srcset="
              ./images/products/cream-desktop.png    1x,
              ./images/products/cream-desktop@2x.png 2x
            "
            type="image/png"
            media=" (min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/cream-tablet.png    1x,
              ./images/products/cream-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/cream-mobile.png    1x,
              ./images/products/cream-mobile@2x.png 2x
            "
            type="image/png"
            media="(min-width:320px)"
          />
          <img
            class="products_img"
            src="./images/products/cream-mobile.png "
            alt="pink-colored icecream "
          />
        </picture>
        <div class="icecream-card--wrap icecream-card--pink">
          <h3 class="icecream-card_title">ice cream</h3>
          <p class="icecream-card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="icecream-card_btn btn" data-menu-button>
            <svg class="icecream-card_icon" width="15" height="15">
              <use href="./images/icons.svg#arrow-link"></use>
            </svg>
          </button>
          <div class="products-modal" data-menu>
            <p class="product-modal__text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem
              atque sit non nostrum beatae placeat provident consequuntur
              temporibus iusto iure cum dolore cumque officia, molestias
              blanditiis natus modi at maxime dolorem porro. Nesciunt, ipsa
              magnam.
            </p>
          </div>
        </div>
      </li>

      <li class="products_item icecream-card">
        <picture>
          <source
            srcset="
              ./images/products/coffee-desktop.webp    1x,
              ./images/products/coffee-desktop@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/coffee-tablet.webp    1x,
              ./images/products/coffee-tablet@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:768px)"
          />
          <source
            srcset="
              ./images/products/coffee-mobile.webp    1x,
              ./images/products/coffee-mobile@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:320px)"
          />
          <source
            srcset="
              ./images/products/coffee-desktop.png    1x,
              ./images/products/coffee-desktop@2x.png 2x
            "
            type="image/png"
            media=" (min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/coffee-tablet.png    1x,
              ./images/products/coffee-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/coffee-mobile.png    1x,
              ./images/products/coffee-mobile@2x.png 2x
            "
            type="image/png"
            media="(min-width:320px)"
          />
          <img
            class="products_img"
            src="./images/products/coffee-mobile.png "
            alt="coffee icecream "
          />
        </picture>
        <div class="icecream-card--wrap icecream-card--brown">
          <h3 class="icecream-card_title">ice coffee</h3>
          <p class="icecream-card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="icecream-card_btn btn" data-menu-button-2>
            <svg class="icecream-card_icon" width="15" height="15">
              <use href="./images/icons.svg#arrow-link"></use>
            </svg>
          </button>
          <div class="products-modal" data-menu-2>
            <p class="product-modal__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
              fugit quidem consequatur tempore quo beatae, odit esse laborum
              blanditiis quas! Quam molestias enim corporis! Facere voluptate
              ab, aliquam earum similique porro aut? Explicabo, nisi voluptas.
            </p>
          </div>
        </div>
      </li>

      <li class="products_item icecream-card">
        <picture>
          <source
            srcset="
              ./images/products/shakes-desktop.webp    1x,
              ./images/products/shakes-desktop@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/shakes-tablet.webp    1x,
              ./images/products/shakes-tablet@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:768px)"
          />
          <source
            srcset="
              ./images/products/shakes-mobile.webp    1x,
              ./images/products/shakes-mobile@2x.webp 2x
            "
            type="image/webp"
            media=" (min-width:320px)"
          />
          <source
            srcset="
              ./images/products/shakes-desktop.png    1x,
              ./images/products/shakes-desktop@2x.png 2x
            "
            type="image/png"
            media=" (min-width:1200px)"
          />
          <source
            srcset="
              ./images/products/shakes-tablet.png    1x,
              ./images/products/shakes-tablet@2x.png 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/products/shakes-mobile.png    1x,
              ./images/products/shakes-mobile@2x.png 2x
            "
            type="image/png"
            media="(min-width:320px)"
          />
          <img
            class="products_img"
            src="./images/products/shakes-mobile.png "
            alt="chocolate icecream "
          />
        </picture>
        <div class="icecream-card--wrap icecream-card--green">
          <h3 class="icecream-card_title">milkshakes</h3>
          <p class="icecream-card_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="icecream-card_btn btn" data-menu-button-3>
            <svg class="icecream-card_icon" width="15" height="15">
              <use href="./images/icons.svg#arrow-link"></use>
            </svg>
          </button>
          <div class="products-modal" data-menu-3>
            <p class="product-modal__text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Voluptatum alias, laudantium velit aliquam excepturi totam
              quisquam reprehenderit minus necessitatibus, neque ex ab soluta ut
              hic quibusdam doloremque accusamus accusantium. Qui, deleniti!
              Omnis voluptatibus culpa est?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
