.button {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 13px;

	height: 44px;
	padding: 0 37px;
	background-color: var(--color-light);
	border-radius: 22px;

	color: var(--color-accent);
	font-weight: 700;
	line-height: 1.31;

	transition: background-color var(--anim);

	&__icon {
		fill: var(--color-accent);
	}

	&:hover,
	&:focus {
		background-color: var(--color-hover-btn-bg);
	}
}

.button--accent {
	background-color: var(--color-accent);
	color: var(--color-light);

	&:hover,
	&:focus {
		background-color: var(--color-accent-hover-btn-bg);
	}
}

.button__icon--accent {
	fill: var(--color-light);
}

.button-arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18px;
	height: 18px;
	border-radius: 100%;
	background-color: var(--color-light-btn-bg);
	transition: background-color var(--anim);

	&:hover,
	&:focus {
		background-color: var(--color-accent-btn-bg);
	}

	&:hover .button-arrow__icon,
	&:focus .button-arrow__icon {
		fill: var(--color-light);
	}

	&__icon {
		fill: var(--color-accent);
		transition: fill var(--anim);
	}

	@include mq(desk) {
		width: 26px;
		height: 26px;
	}
}
