.button {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 13px;

	height: 44px;
	padding: 0 37px;
	background-color: var(--color-light-btn-bg);
	border-radius: 22px;

	color: var(--color-accent);
	font-weight: 700;
	line-height: 1.31;

	transition: var(--anim);

	&__icon {
		fill: var(--color-accent);
	}

	&:hover,
	&:focus {
		background-color: var(--color-hover-btn-bg);
	}
}

.button--accent {
	background-color: var(--color-accent-btn-bg);
	color: var(--color-light);

	&:hover,
	&:focus {
		background-color: rgba(212, 20, 68, 0.78);
	}
}

.button__icon--accent {
	fill: var(--color-light);
}
