.form {
  min-width: 250px;
  width: 100%;

  @include mq(mob-only) {
    max-width: 250px;
  }
}

.form__title {
  margin-bottom: 8px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 0.8789;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-accent);
}

.form__text {
  margin-bottom: 16px;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20;
  line-height: 0.882;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-menu-bg);
}

.field {
  display: block;
}

.form__field:not(:last-of-type) {
  margin-bottom: 8px;

  @include mq(tab) {
    margin-bottom: 16px;
  }
}

.field_label {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  text-indent: 16px;
}

.field__input {
  width: 100%;
  height: 40px;
  padding: 12px 24px;
  border: 1px solid var(--color-accent-bg);
  border-radius: 16px;

  transition: border-color var(--anim);
}

.field__input:focus-within {
  border-color: var(--color-accent);
}
