.about {
    background-color: #FFF5F6;
    background-image: url("../images/about/milk1.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    @include section(60px, 40px);

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
        background-image: url("../images/about/milk@2x.png");    
    }

    @media (min-device-pixel-ratio: 3),
        (min-resolution: 3dppx),
        (min-resolution: 192dpi) {
        background-image: url("../images/about/milk@3x.png");
    }
    
    @include mq (tab-only){
        background-image: none;
        @include section
    }

    @include mq (mob-only){
        background-position:0 70%;
        @include section(60px, 40px);
    }

    &__label {
        font-family: var(--font-family-secondary);
        font-size: 30px;
        line-height: 1.13;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #FFA5BA;
        margin-bottom: 16px;

        @include mq (tab){
            font-size: 26px;
            line-height: 1.15;
        }

        @include mq (mob) {
            font-size: 18px;
            line-height: 1.17;
        }

    }
    &__title {
        font-family: var(--font-family-secondary);
        font-size: 58px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        padding-bottom: 60px;
        color: var(--color-accent);

        @include mq (tab){
            font-size: 48px;
            line-height: 1.15;
            letter-spacing: 0.04em;
            padding-bottom: 40px;
        }

        @include mq (mob) {
            // min-width: 200px;
            font-size: 34px;
            line-height: 1.15;
            letter-spacing: 0.04em;
            padding-bottom: 32px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        letter-spacing: 0.04em;
        color: var(--color-primary);
        padding-bottom: 32px;

        @include mq (tab){
            font-size: 14px;
            line-height: 1.78;
            padding-bottom: 40px;
        }

        @include mq (mob-only) {
            font-size: 12px;
            line-height: 1.58;
            padding-bottom: 40px;
        }
    }
}

.about__text--grey {
    color: #907E82;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.93;
    letter-spacing: 0.04em;

    @include mq (tab){
        font-size: 14px;
        line-height: 1.78;
    }

    @include mq (mob) {
        font-size: 12px;
        line-height: 1.58;
    }
}

.button__icon {
    width: 8px;
    height: 15px;
}

.about__container { 
    display: flex;
    margin: auto;
    max-width: 1200px;

    @include mq (tab-only){
        max-width: 768px;
    }

    @include mq (mob-only) {
        display: block;
    }
}

.about__img {
    padding: 0px 99px 20px 16px;

    @include mq (tab-only){
        flex: 1;
        padding: 0px 32px 0px 32px;
    }
    @include mq (mob-only){
        max-width: 300px;
        margin: auto;
        padding: 0;
    }
}

.about__info {
    flex: 1;
    max-width: 463px;
    margin: auto;

    @include mq (tab-only){
        flex: 1;
        max-width: 334px;
        margin-right: 34px;
        margin-left: 32px;
    }

    @include mq (mob){
        display: block;
        margin-left: 20px;
        margin-right: 80px;
    }
}