.advantages{
    padding-top: 40px;
    padding-bottom: 60px;
}

.advantages__item-img {
  margin-bottom: 16px;
}
.advantages__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.advantages__text { display: inline-block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  

  color: #000000;
  max-width: 230px;
  width: 100%;

}

.advantages__item:not(:last-child)>.advantages__text{
    margin-bottom: 32px;
}
