.contacts__section {
  padding-top: 30px;
  padding-bottom: 40px;

  background: var(--color-bg-section);
  background-image: linear-gradient(
    var(--color-light) 0%,
    var(--color-light) 23%,
    var(--color-bg-section) 23%,
    var(--color-bg-section) 100%
  );

  @include mq(tab) {
    padding-top: 40px;
    background: var(--color-bg-section);
    background-image: linear-gradient(
      var(--color-light) 0%,
      var(--color-light) 48%,
      var(--color-bg-section) 48%,
      var(--color-bg-section) 100%
    );
  }
  @include mq(desk) {
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--color-bg-section);
    background-image: linear-gradient(
      var(--color-light) 0%,
      var(--color-light) 20%,
      var(--color-bg-section) 20%,
      var(--color-bg-section) 100%
    );
  }
}
.contacts__list {
  // display: flex;
  // gap: 20px;
  // flex-wrap: wrap;

  margin-bottom: 32px;

  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 60px;
    gap: 32px;
  }
}

.contacts__item {
  font-size: 12px;
  line-height: 1.86;
  text-align: left;
  padding: 40px 32px;
  background: var(--color-light);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  // @media screen and (max-width: 767px) {
  //   gap: 20px;

  // }

  @media screen and (min-width: 768px) {
    @include flex-based(3, 32px);

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    padding: 40px 40px;
  }
}

// .contacts__item:last-child {
//   @media screen and (max-width: 767px) {
//     margin-bottom: 32px;
//   }
// }

.contacts__category {
  display: block;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
  background: #f0d1a5;
  border-radius: 4px;
  max-width: 80px;
  // max-height: 16px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    border-radius: 6px;
    max-width: 73px;
    font-size: 16px;
    max-height: 100%;
  }
}

.contacts__category--bgcolor {
  background: #c2e297;
  min-width: 130px;

  @media screen and (min-width: 768px) {
    border-radius: 6px;
    max-width: 138px;
  }
}

.contacts__title {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.contacts__description {
  line-height: 1.5;

  color: #907e82;

  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
    max-width: 250px;
  }
}
.contacts__tumb {
  padding-bottom: 24px;

  border-bottom: 1px solid var(--color-linear);

  @media screen and (min-width: 768px) {
    padding-bottom: 32px;
  }
}
.contacts__timetable {
  padding-top: 24px;
  padding-bottom: 24px;

  border-bottom: 1px solid var(--color-linear);

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__time:first-child {
  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

.contacts__day {
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.contacts__day-time {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-over-line);
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.contacts__list-communication {
  padding-top: 24px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
}
.contacts__item-communication {
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-description);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.6;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.8;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  transition: color var(--anim);
}

@media screen and (max-width: 767px) {
  .contacts__btn-item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
  }

  .contacts__btn-item:last-child {
    margin-bottom: 0px;
  }
}

.contacts__btn-set {
  @include mq(tab) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  @include mq(desk) {
    gap: 12px;
  }
}

.contacts__btn {
  padding: 0;
  width: 160px;

  @include mq(tab) {
    width: 190px;
  }

  @include mq(desk) {
    width: 200px;
  }
}

.contacts__btn--resize {
  @include mq(tab) {
    width: 175px;
  }

  @include mq(desk) {
    width: 170px;
  }
}
