.footer {
  background-color: #fff5f6;

  @include mq(desk) {
    padding-top: 60px;
  }

  &--media {
    @include mq(tab) {
      display: flex;
      justify-content: space-between;
    }
    @include mq(desk) {
      width: 1200px;
    }
  }

  .footer__title {
    font-family: Titan One, cursive;
    width: 234px;
    text-transform: uppercase;

    text-align: left;
    margin-bottom: 40px;

    @include mq(tab) {
      width: 340px;
      margin-bottom: 12px;
    }
    @include mq(desk) {
      width: 480px;
      margin: 0;
    }

    &--pink {
      color: #ffa5ba;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.17;
      margin-bottom: 16px;

      @include mq(tab) {
        font-size: 26px;
        line-height: 1.15;
        letter-spacing: 0.04em;
      }

      @include mq(desk) {
        font-size: 30px;
        line-height: 1.13;
        letter-spacing: 0.04em;
      }
    }

    &--crimson {
      font-weight: 400;
      font-size: 34px;
      line-height: 1.15;
      letter-spacing: 0.04em;
      color: var(--color-accent);

      @include mq(tab) {
        margin-top: 12px;
        font-size: 48px;
        line-height: 1.15;
        letter-spacing: 0.06em;
      }

      @include mq(desk) {
        font-size: 58px;
        line-height: 1.14;
        letter-spacing: 0.06em;
      }
    }
  }
}

.footer-social {
  @include mq(tab) {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.footer-social-list:not(:last-child) {
  margin-right: 28px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  color: #ffffff;
  fill: #fea5bb;
  transition: fill var(--anim);

  &:hover,
  &:focus {
    fill: #d41443;
  }
}

.footer__text {
  padding: 40px 0 40px 45px;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  line-height: 1.86;
  letter-spacing: 0;

  @include mq(tab) {
    font-size: 14px;
  }

  @include mq(desk) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}
.footer__contacts-link {
  color: var(--color-accent);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.86;
  letter-spacing: 0;

  @include mq(tab) {
    font-size: 14px;
  }

  @include mq(desk) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-bottom {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  @include mq(tab) {
    padding-top: 8px;
    flex-direction: row;
  }

  @include mq(desk) {
    padding-top: 8px;
  }
}

.footer-bottom--border {
  border-top: 1px solid var(--color-linear);
}

.footer-bottom__text {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #907e82;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
