// Gallery
.gallery {
  background-image: linear-gradient(
    to bottom,
    #fff5f6 20%,
    var(--color-light) 20%
  );
}

.gallery__container {
  padding: 0;

  @include mq(desk) {
    max-width: 1016px;
  }
}

.gallery__grid-item {
  border-radius: 8px;

  @include mq(tab) {
    border-radius: 20px;
  }

  // transition: box-shadow, var(--anim), transform, var(--anim);

  // &:hover,
  // &:focus {
  //   z-index: 100;
  //   transform: scale(0.95);
  //   box-shadow: 0 0px 2px 0 rgb(60 64 67 / 0.3),
  //     0 0px 6px 3px rgb(60 64 67 / 0.15);
  // }
}
