.hero {
	position: relative;
	@include mq(mob-only) {
		padding-top: 15px;
	}
	&__info {
		@include mq(tab) {
			margin-right: auto;
			padding-top: 20px;
		}

		@include mq(desk) {
			padding-top: 40px;
		}
	}

	&__icecream {
		img {
			position: relative;
			z-index: 2;
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 36px;
			width: 346px;
			height: 344px;
			border-radius: 100%;
			background-color: var(--color-circle-bg);
		}

		@include mq(mob-only) {
			display: flex;
			justify-content: flex-end;
		}

		@include mq(tab) {
			display: block;
			margin-right: auto;
			margin-left: -70px;

			&::after {
				width: 335px;
				height: 333px;
				top: -30px;
				left: 32%;
			}
		}

		@include mq(desk) {
			margin-right: 210px;
			margin-left: 0;
			&::after {
				top: -55px;
				left: 43%;
				width: 534px;
				height: 534px;
			}
		}
	}

	&__progress {
		display: none;

		@include mq(tab) {
			display: block;
			padding-top: 20px;
		}

		@include mq(desk) {
			padding-top: 40px;
		}
	}
}

.info-hero {
	@include mq(mob-only) {
		position: absolute;
		top: 105px;
		left: 0;
		z-index: 3;
	}
	&__title {
		font-family: "Titan One", sans-serif;
		font-weight: 400;
		font-size: 26px;
		line-height: 1.15;
		text-transform: uppercase;
		color: var(--color-light);
		max-width: 220px;

		@include mq(tab) {
			font-size: 22px;
			max-width: 160px;
		}

		@include mq(desk) {
			font-size: 38px;
			max-width: 275;
		}
	}

	&__title--accent {
		font-size: 48px;
		line-height: 97%;
		color: var(--color-accent);

		@include mq(tab) {
			font-size: 34px;
			line-height: 90%;
		}

		@include mq(desk) {
			font-size: 58px;
		}
	}

	&__list {
		display: flex;
		column-gap: 8px;

		@include mq(desk) {
			column-gap: 12px;
		}
	}

	&__btn {
		padding: 0;
		font-weight: 400;
		font-size: 8px;
		line-height: 1.25;
		height: 24px;
		width: 65px;

		@include mq(desk) {
			font-size: 14px;
			line-height: 1.28;
			height: 40px;
			width: 110px;
		}
	}

	&__btn-other {
		padding: 0;
		width: 85px;

		@include mq(desk) {
			width: 140px;
		}
	}

	&__milk {
		display: none;

		@include mq(tab) {
			display: block;
			position: absolute;
			left: 0;
			bottom: 15px;
			display: flex;
			align-items: center;
		}

		@include mq(desk) {
			bottom: 60px;
		}
	}

	&__box {
		position: relative;
		@include mq(desk) {
			margin-top: 50px;
		}
	}

	&__text {
		position: relative;
		z-index: 2;
		max-width: 125px;
		font-size: 8px;
		line-height: 150%;
		color: var(--color-light);
		margin-bottom: 7px;

		@include mq(desk) {
			font-size: 14px;
			line-height: 140%;
			max-width: 200px;
			margin-bottom: 20px;
		}
	}

	&__secret-box {
		position: absolute;
		bottom: 35%;
		left: -10%;
		z-index: 5;
		background-color: var(--color-light-bg);
		width: 200px;
		padding: 15px;
		border-radius: 24px;
		box-shadow: 0 0 10px 5px rgba(212, 20, 68, 0.5);
		opacity: 0;
		visibility: hidden;
		transform: scale(0);
		transition: all var(--anim);

		@include mq(desk) {
			left: -5%;
			width: 300px;
			padding: 20px;
		}
	}

	&__secret-text {
		color: var(--color-description);
		font-weight: 500;
		font-size: 9px;
		line-height: 130%;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		@include mq(desk) {
			font-size: 14px;
			line-height: 140%;
		}
	}
}

.progress-hero {
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: -2px;
			right: 0;
			width: 16px;
			height: 16px;
			border-radius: 100%;
			background-color: var(--color-light-bg);
		}

		@include mq(desk) {
			&::after {
				width: 30px;
				height: 30px;
				top: -5px;
			}
		}
	}

	&__quantity {
		font-family: "Titan One", sans-serif;
		font-weight: 400;
		font-size: 28px;
		line-height: 1.15;
		color: var(--color-accent);
		position: relative;
		z-index: 2;
		margin-right: 8px;

		@include mq(desk) {
			font-size: 46px;
			margin-right: 14px;
		}
	}

	&__text {
		font-size: 8px;
		line-height: 1.25;
		color: var(--color-light);
		margin-right: 8px;

		@include mq(desk) {
			font-size: 14px;
			line-height: 1.28;
			margin-right: 14px;
		}
	}

	&__img {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.active {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}
