.products {
  padding-top: 60px;
  padding-bottom: 60px;
}
.title-section {
  font-family: Titan One;
  text-transform: uppercase;
  text-align: center;
}

.sub-title-section {
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 200px;
  font-family: Titan One;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  color: var(--color-accent-bg);
}

.products_title {
  margin: 0 auto;
  margin-bottom: 148px;
  max-width: 200px;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-accent);
}

.products_img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  // margin: 0 auto;
  // margin-bottom: 20px;
  // transform: translateY(150px);
}

.icecream-card_title {
  font-family: Titan One;
  font-size: 20px;
  margin: 0 auto;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-light);
  margin-bottom: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 175px;
}

.icecream-card_title::after {
  content: '. . .';
  position: absolute;
  top: 35px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.04em;
}

.icecream-card_text,
.product-modal__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-light);
  margin-bottom: 30px;
}

.icecream-card {
  border-radius: 24px;
  position: relative;
}

.icecream-card:not(:last-child) {
  @include mq(mob-only) {
    margin-bottom: 140px;
  }
}

.icecream-card--wrap {
  border-radius: 24px;
  // margin-top: 127px;
  padding: 40px;
  padding-top: 161px;
}

.icecream-card--pink {
  background-color: var(--color-accent-bg);
}

.icecream-card--brown {
  background-color: var(--color-yellow);
}

.icecream-card--green {
  background-color: var(--color-green);
}

// .icecream-card:not(:last-child) {
//   margin-bottom: -135px;
// }

// .icecream-card:first-child {
//   margin-top: -135px;
// }

.icecream-card_btn {
  margin: 0 auto;
  fill: var(--color-accent);
  padding: unset;
  min-width: unset;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--anim), background-color var(--anim);
  position: relative;
  z-index: 1;
  &:hover,
  &:focus {
    background-color: var(--color-accent);
    cursor: pointer;
    fill: var(--color-light);
  }
}

@media screen and (min-width: '768px') {
  // .icecream-card:not(:last-child) {
  //   margin-bottom: unset;
  // }
  .ice-cream_card {
    position: relative;
  }
  .products_list {
    display: flex;
  }
  .icecream-card_text,
  .product-modal__text {
    line-height: 176%;
  }
  // .icecream-card {
  //   margin-top: -135px;
  // }
  .icecream-card:not(:last-child) {
    margin-right: 20px;
  }

  .products {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  .products_title {
    margin-bottom: 158px;
    font-size: 48px;
    max-width: 285px;
  }
  .icecream-card--wrap {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }
  .products_img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -65%);
    z-index: 2;
    height: 230px;
  }
  .sub-title-section {
    font-size: 26px;
    max-width: 230px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: '1200px') {
  .icecream-card:not(:last-child) {
    margin-right: 32px;
  }
  .products_img {
    position: absolute;
    left: 50%;
    // transform: translate(-50%, -25%);
    z-index: 2;
    height: unset;
  }
  .products_title {
    margin-bottom: 281px;
    font-size: 58px;
    max-width: 350px;
  }
  .sub-title-section {
    font-size: 30px;
    max-width: 250px;
    margin-bottom: 16px;
  }
  .icecream-card--wrap {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
  }
  .icecream-card_text,
  .product-modal__text {
    font-size: 16px;
    margin-bottom: 60px;
  }
  .icecream-card_title {
    font-size: 30px;
    margin-bottom: 72px;
    max-width: 210px;
  }
  .icecream-card_title::after {
    font-size: 20px;
    letter-spacing: 0.04em;
    top: 55px;
  }
}

.products-modal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 5;
  top: 20%;
  left: 5%;
  border-radius: 24px;

  text-align: center;
  padding-top: 16%;
  width: 90%;
  height: 60%;

  padding-left: 10px;
  padding-right: 10px;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16px);

  transform: scale(0);

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  transition: opacity var(--anim), visibility var(--anim), transform var(--anim);
}

.is-open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

@media screen and (min-width: '768px') and (max-width: '1199px') {
  .product-modal__text {
    line-height: 1.16;
  }
}
